.header-frontmatter {
	> span {
		background-color: #15191c;
		padding-inline: 1rem;
		margin-inline: -1rem;
		display: block;
	}

	> span:first-child {
		padding-top: 1rem;
		border-radius: 10px 10px 0 0;
	}
	> span:last-child {
		padding-bottom: 1rem;
		border-radius: 0 0 10px 10px;
	}

	// doesn't work because njk puts in whitespace
	&:empty {
		display: none;
	}
}
