<div class="header-frontmatter"> {%- if inventory -%}
    <span><strong>inventory:</strong> {{ inventory }} </span>
  {% endif %}
  {%- if player -%}
    <span><strong>player:</strong> {{ player }} </span>
  {% endif %}
  {%- if race -%}
    <span><strong>race:</strong> {{ race }} </span>
  {% endif %}
  {%- if class -%}
    <span><strong>class:</strong> {{ class }} </span>
  {% endif %}
  {%- if alignment -%}
    <span><strong>alignment:</strong> {{ alignment }} </span>
  {% endif %}
  {%- if level -%}
    <span><strong>level:</strong> {{ level }} </span>
  {% endif %}</div>