<div class="header-frontmatter">
  {% if inventory %}<span><strong>inventory:</strong> {{ inventory }} </span> <br/> {% endif %}
  {% if player %}<span><strong>player:</strong> {{ player }} </span> <br/> {% endif %}
  {% if race %}<span><strong>race:</strong> {{ race }} </span> <br/> {% endif %}
  {% if class %}<span><strong>class:</strong> {{ class }} </span> <br/> {% endif %}
  {% if alignment %}<span><strong>alignment:</strong> {{ alignment }} </span> <br/>{% endif %}
  {% if level %}<span><strong>level:</strong> {{ level }} </span> <br/> {% endif %}
</div>