<strong> metadata </strong> <br/>
{% if inventory %}inventory: {{ inventory }}{% endif %}
{% if player %}player: {{ player }}{% endif %}
{% if race %}race: {{ race }}{% endif %}
{% if class %}class: {{ class }}{% endif %}
{% if alignment %}alignment: {{ alignment }}{% endif %}
{% if level %}level: {{ level }}{% endif %}